body {
    background-color: #ffe4e1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f7f7f7;
    font-size: 36px;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}
.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  video {
    border: 5px solid transparent;
    padding: 5px;
    border-image: linear-gradient(45deg, #ff6b6b, #fddb3a) 1;
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Estilos do texto */
.typewriter {
    font-family: 'Lacquer', monospace; /* Fonte estilo máquina de escrever */
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Esconde o texto além da largura */
    border-right: 3px solid black; /* Simula o cursor de digitação */
    width: 0; /* Começa com largura 0 */
    animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite; /* Animações */
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0; /* Começa com o texto escondido */
    }
    to {
        width: 100%; /* O texto aparece completamente */
    }
}

/* Animação de "blink" do cursor */
@keyframes blink {
    50% {
        border-color: transparent; /* Cursor pisca */
    }
}
