body {
    background-color: #ffe4e1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f7f7f7;
    font-size: 36px;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}
.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  video {
    border: 5px solid transparent;
    padding: 5px;
    border-image: linear-gradient(45deg, #ff6b6b, #fddb3a) 1;
}
/* Base */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  padding: 0;
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1 {
  position: relative;
  color: hsl(0, 24%, 96%);
  font-weight: bold;
  font-family: "Lacquer", system-ui;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}