body {
    background-color: #4e4e4e;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f7f7f7;
    font-size: 36px;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}
.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  video {
    border: 5px solid transparent;
    padding: 5px;
    border-image: linear-gradient(45deg, #ff6b6b, #fddb3a) 1;
}
.typing {
    overflow: auto; /* Esconde o texto que ultrapassa a largura */
    border-right: .15em solid #333; /* Cria um cursor piscante */
    white-space: nowrap; /* Impede quebra de linha */
    margin: 0 auto;
    /* Adicione outras propriedades para personalizar o estilo */
}

.typing span {
    animation: typing 1s steps(40, end) infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
.animated-box {
    animation: move-right 2s infinite;
  }
  

@keyframes fadeIn {
    to { opacity: 1; }
}
/* Estilo básico das seções */
section {
  padding: 20px;
  margin: 20px;
  background-color: #696969;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(209, 208, 208, 0.2);
  border: 2px dashed #1C1C1C;
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

/* Efeito de zoom quando o mouse passa por cima */
section:hover {
  transform: scale(1.05); /* Aumenta a seção para 105% do seu tamanho original */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar mais destaque */
}

